<!DOCTYPE html>
<html ng-app ="homeInventoryApp",
      ng-controller ="myController">
<!--<head>-->
    <script src="~/Scripts/angular.js"></script>
    <script src="user-list.component.js"></script>
<!--</head>-->
<script>
    var userList = angular.module('userList', [myController]);

    console.log("test")

    userList.controller('myController', function ($scope, $http) {

        var onSuccess = function (data, status, headers, config) {
            $scope.data = data;
        };
        var onError = function (data, status, headers, config) {
            $scope.error = status;
        }

        var promise = $http.get("http://localhost:8080/users/").success(onSuccess).error(onError);

    });

</script>
<body>
    <div>
        Response Data: {{data}} <br />
        Error: {{error}}
    </div>
</body>
</html>
